.navItem{
    margin-left: 1em;
    cursor: pointer;
    opacity: 0.5;
}
.navItem:hover,
.navItem:focus,
.navItem:active{
    opacity: 1;
    color: #0070f3;
    border-color: 1px solid #0070f3;
}
.navContainer, .menuContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.navContainer{
    width: 72%;
    margin: 0 auto;
}
.showNav, .hideNav{
    list-style-type: none;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar{
    border-bottom: 0.2em groove grey;
    margin-bottom: 1em;
}
.menu{
    cursor: pointer;
    display: none;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .menu{
        display: block;
        font-size: 1.5em;
    }
    .navItem{
        border-bottom: 1px solid #000;
    }
    .menuContainer, .navItem, .hideNav{
        flex-basis: 100%;
        margin-bottom: 0.2em;
        text-align: center;
    }
    .showNav{
        display: none;
    }
}
